* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.mobile {
  display: none;
}

@media (max-width: 320px) {
  .laptop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.link {
  font-size: 18px;
  line-height: 21px;
  border-radius: 33.5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: end;
  min-width: 263px;
  padding: 20.71px 0px 25.29px 0px;
}
.link_white {
  color: #fff;
  border: 1px solid #fff;
}
.link_purple {
  color: #47093e;
  border: 1px solid #47093e;
}
.link_purple:hover {
  background: #590d56;
  border-radius: 90px;
  color: #fff;
}

@media (max-width: 320px) {
  .link {
    font-size: 14px;
    line-height: 16px;
    color: #5b0e58;
    border: 1px solid #5b0e58;
    min-width: 132px;
    padding: 10.51px 0 7.49px 0;
  }
  .link:hover {
    background: #590d56;
    border-radius: 90px;
    color: #fff;
  }
}
header {
  position: relative;
  z-index: 2;
  margin-top: 28px;
}
header .header__wrap {
  display: flex;
  justify-content: space-between;
}
header .header__left {
  margin-top: 3px;
}
header .header__right {
  display: flex;
  position: relative;
  flex: 0 1 260px;
  flex-direction: row-reverse;
}
header .header__right .search {
  flex-grow: 1;
}
header .header__right .shops {
  flex-grow: 1;
}
header .header__nav {
  position: absolute;
  top: 77px;
  right: -150px;
  z-index: 10;
  transition: ease-in-out 0.5s;
}
header .header__menu {
  margin-top: 4.17px;
  cursor: pointer;
}

.nav {
  width: 1440px;
  background-color: #fff;
  padding: 154px 0 142px 150px;
}
.nav__wrap {
  position: relative;
}
.nav__close {
  position: absolute;
  top: -214px;
  right: 152px;
  cursor: pointer;
}
.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-bottom: 91px;
}
.nav__text {
  font-family: Merriweather;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  cursor: pointer;
  z-index: 11;
}
.nav__text:hover {
  color: #771373;
}
.nav__line-1 {
  position: absolute;
  z-index: -1;
  left: -150px;
  bottom: -63px;
}
.nav__lines-2 {
  position: absolute;
  z-index: -1;
  left: -150px;
  top: 55px;
}
.nav__lines-3 {
  position: absolute;
  z-index: -1;
  left: -150px;
  bottom: -80px;
}

#burger {
  display: none;
}
#burger:checked ~ .header__nav {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
#burger:checked ~ .header__menu, #burger:checked ~ .search, #burger:checked ~ .shops {
  visibility: hidden;
}
#burger:not(:checked) ~ .header__nav {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

@media (max-width: 320px) {
  header .header__left {
    margin-top: 16px;
  }
  header .header__right .search {
    margin-top: 18.65px;
    margin-right: 9.45px;
  }
  header .header__right .shops {
    margin-top: 18.65px;
    margin-right: 13.9px;
  }
  header .header__nav {
    top: 75px;
  }
  header .header__menu {
    margin-top: 20.73px;
  }
  .nav {
    display: none;
  }
  .nav__close {
    top: -203px;
  }
  #burger:checked ~ .header__menu, #burger:checked ~ .search, #burger:checked ~ .shops {
    visibility: visible;
  }
}
footer {
  padding-top: 29px;
  padding-bottom: 22px;
}
footer .footer__top {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
footer .footer__content > p {
  font-size: 31px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #540C50;
  opacity: 0.8;
}
footer .footer__bottom {
  max-width: 1156px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
footer .footer__left {
  margin-top: 56px;
  margin-right: 65px;
}
footer .footer__link > a {
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: #7A7A7A;
}
footer .footer__box {
  display: flex;
  margin-top: 33px;
}
footer .footer__box > p {
  max-width: 196.32px;
  font-size: 14px;
  line-height: 130%;
  color: #828282;
  align-self: end;
  margin-left: 24.08px;
}
footer .footer__box .socials__text {
  max-width: 210.09px;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  margin-left: 14.71px;
}
footer .footer__center {
  margin-top: 56px;
  margin-right: 57px;
}
footer .footer__address {
  max-width: 334.29px;
  font-size: 14px;
  line-height: 130%;
  color: #828282;
  margin-top: 42px;
}
footer .footer__right {
  margin-top: 50px;
}
footer .footer__socials > a {
  font-size: 30px;
  line-height: 24px;
  color: #7A7A7A;
}
footer .footer__socials > a:not(:last-child) {
  margin-right: 40.5px;
}

@media (max-width: 320px) {
  footer {
    display: none;
  }
}
.about {
  margin-top: 67px;
  margin-bottom: 151.65px;
}
.about__wrap {
  position: relative;
  display: flex;
}
.about__bg {
  position: absolute;
  top: -5px;
  left: -150px;
  z-index: -1;
}
.about__content {
  flex-basis: 360px;
}
.about__title {
  font-family: "Merriweather", serif;
  font-size: 55px;
  line-height: 100%;
  min-height: 435px;
}
.about__btn {
  display: flex;
}
.about__btn:not(:last-child) {
  margin-bottom: 32px;
}
.about__link {
  align-self: center;
  font-size: 18px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #590d56;
  margin-left: 29.5px;
}
.about__slider {
  position: relative;
  display: flex;
  align-items: end;
}
.about__slider .slider__img {
  position: absolute;
  z-index: -1;
  top: 113px;
  left: -95px;
}
.about__slider .slider__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
  margin-bottom: 38px;
  margin-left: 270px;
}
.about__slider .slider__buttons .arrows {
  display: flex;
  gap: 30px;
}

@media (max-width: 320px) {
  .about {
    margin-top: 30px;
    margin-bottom: 21px;
  }
  .about__wrap {
    display: flex;
    flex-direction: column;
  }
  .about__img {
    top: 43px;
    left: 0;
  }
  .about__title {
    font-size: 45px;
    line-height: 90%;
    margin-bottom: 12px;
  }
  .about__buttons {
    display: none;
  }
  .about__slider .slider__img {
    top: -180px;
    left: -14px;
  }
  .about__slider .slider__buttons {
    gap: 15px;
    margin: 40px 0 0 78px;
  }
  .about__slider .slider__buttons .arrows {
    gap: 15px;
  }
}
.marquee {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-top: 1px solid #47093E;
  border-bottom: 1px solid #47093E;
}
.marquee__text {
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #590D56;
  padding-top: 16px;
  padding-bottom: 22px;
}
.marquee__text > span {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: scroll 20s infinite linear;
          animation: scroll 20s infinite linear;
}

@-webkit-keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@media (max-width: 320px) {
  .marquee {
    display: none;
  }
}
.features {
  padding-top: 103px;
}
.features__columns {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 195px;
  align-items: flex-start;
}
.features__columns .info {
  position: absolute;
  top: 30px;
  right: 20px;
}
.features__column {
  display: flex;
}
.features__column:not(:nth-child(3)) {
  max-width: 262px;
}
.features__column:nth-child(3) {
  max-width: 360px;
}
.features__column > p {
  font-family: Merriweather;
  font-size: 16px;
  line-height: 154.8%;
  color: #242424;
  align-self: center;
  margin-left: 30px;
}
.features__column > p:not(:last-child) {
  max-width: 166px;
}
.features__bottom {
  display: flex;
  gap: 73px;
}
.features__content {
  flex: 0 1 263px;
}
.features__content > h2 {
  font-family: Merriweather;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 38px;
}
.features__content > p {
  font-size: 16px;
  line-height: 154.8%;
  color: #777777;
}
.features__box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.features__box > .features__group:first-child > svg {
  top: 13px;
  left: 118px;
}
.features__box > .features__group:last-child > svg {
  top: 70px;
  left: 125px;
}
.features__group {
  position: relative;
  display: flex;
  flex-basis: 194px;
  gap: 186px;
  border-top: 1px solid #47093e;
}
.features__group:last-child {
  border-bottom: 1px solid #47093e;
}
.features__group > svg {
  position: absolute;
}
.features__group .second {
  top: 35px;
  right: 0;
}
.features__group .third {
  bottom: 81px;
  left: 51px;
}
.features__group .fourth {
  top: 82px;
  right: 42px;
  z-index: 1;
}
.features__group > p {
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  align-self: center;
  color: #000000;
  flex-basis: 344px;
}
.features__btn {
  font-size: 18px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  border: 0;
  background-color: #fff;
  color: #590d56;
  align-self: flex-end;
  margin-bottom: 32px;
}

@media (max-width: 320px) {
  .features {
    display: none;
  }
}
.process {
  padding-top: 300px;
  padding-bottom: 126px;
}
.process__wrap {
  display: flex;
  position: relative;
}
.process__bg {
  position: absolute;
  top: -350px;
  left: -150px;
}
.process__content {
  flex: 0 1 264px;
  margin-right: 27px;
  z-index: 2;
}
.process__content > h3 {
  font-family: Merriweather;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
}
.process__slider {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.process__slider .slider {
  position: relative;
  display: flex;
  gap: 30px;
  flex-grow: 1;
  margin-bottom: 35px;
}
.process__slider .slider > img {
  align-self: center;
}
.process__slider .slider .second {
  filter: drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.25));
}
.process__slider .slider .play {
  position: absolute;
  z-index: 2;
  top: 102px;
  right: 293px;
}
.process__slider .slider__buttons {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 28px;
}
.process__slider .slider__buttons .arrow__right {
  opacity: 0.5;
}

@media (max-width: 320px) {
  .process {
    display: none;
  }
}
.opinion {
  margin-top: 86px;
}
.opinion__wrap {
  display: flex;
}
.opinion__content {
  flex: 0 1 240px;
  margin-right: 53px;
  z-index: 2;
}
.opinion__content > h4 {
  font-family: Merriweather;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 26px;
}
.opinion__content > p {
  font-size: 16px;
  line-height: 154.8%;
  color: #777777;
}
.opinion__box {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 8px;
}
.opinion__box .play {
  position: absolute;
  top: 256px;
  right: 389px;
  z-index: 2;
}
.opinion__buttons {
  display: flex;
  gap: 16px;
}
.opinion__buttons .btn-mini:hover {
  fill: #590D56;
}

@media (max-width: 320px) {
  .opinion {
    display: none;
  }
}
.shop {
  background: linear-gradient(360deg, rgba(71, 9, 62, 0.5) -7.14%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: multiply;
  background-size: 100% 10%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 94px;
}
.shop__wrap {
  display: flex;
}
.shop__content {
  flex: 0 1 263px;
  margin-right: 29px;
}
.shop__content > h6 {
  font-family: Merriweather;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 26px;
}
.shop__content > p {
  font-size: 16px;
  line-height: 154.8%;
  color: #777777;
}
.shop__box {
  display: flex;
  flex-direction: column;
}
.shop__img {
  position: relative;
  flex-basis: 436px;
}
.shop__img > img {
  position: absolute;
  right: 112px;
}
.shop__buttons {
  display: flex;
  gap: 30px;
}

@media (max-width: 320px) {
  .shop {
    display: none;
  }
}
.blog {
  margin-bottom: 150px;
}
.blog__wrap {
  display: flex;
  position: relative;
  padding-top: 237px;
}
.blog__bg {
  position: absolute;
  left: -150px;
  top: -21px;
  z-index: -1;
}
.blog__content {
  flex: 0 1 263px;
  z-index: 2;
  margin-right: 29px;
}
.blog__content > h5 {
  font-family: Merriweather;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 26px;
}
.blog__content > p {
  font-size: 16px;
  line-height: 154.8%;
  color: #777777;
  color: #ffffff;
}
.blog__grid {
  display: flex;
  flex-direction: column;
}
.blog__grid .grid__box {
  z-index: 2;
  display: grid;
  gap: 29px;
  grid-template-columns: repeat(3, 263px);
  grid-template-rows: 263px 165px;
  margin-bottom: 35.99px;
}
.blog__grid .grid__item > p {
  font-weight: 300;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
}
.blog__grid .grid__item-1 {
  background: linear-gradient(179.96deg, rgba(71, 9, 62, 0.9) -0.95%, rgba(71, 9, 62, 0) 99.97%), url(../images/sport.jpg);
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 29.04px 17px 147.99px 28px;
}
.blog__grid .grid__item-2 {
  background: linear-gradient(180.79deg, rgba(71, 9, 62, 0.8) 0.68%, rgba(71, 9, 62, 0) 99.32%), url(../images/doc.jpg);
  padding: 24px 24px 20.46px 21px;
}
.blog__grid .grid__item-3 {
  background: linear-gradient(180.68deg, rgba(71, 9, 62, 0.9) 0.59%, rgba(71, 9, 62, 0) 99.41%), url(../images/food.jpg);
  padding: 24px 17px 20.46px 28px;
}
.blog__grid .grid__item-4 {
  background: #47093e;
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 31.1px 293px 23.12px 21px;
}

@media (max-width: 320px) {
  .blog {
    display: none;
  }
}/*# sourceMappingURL=all.css.map */