.btn {
    font-size: 18px;
    line-height: 21px;
    border-radius: 33.5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: end;
    min-width: 263px;
    padding: 20.71px 0px 25.29px 0px;
    &-white {
        color: #fff;
        border: 1px solid #fff;
    }
    &-purple {
        color: #47093E;
        border: 1px solid #47093E;
        &:hover {
            background: #590D56;
            border-radius: 90px;
            color: #fff;
        }
    }
}

@media (max-width: 320px) {
    .btn {
        font-size: 14px;
        line-height: 16px;
        color: #5B0E58;
        border: 1px solid #5B0E58;
        min-width: 132px;
        padding: 10.51px 0 7.49px 0;
        &:hover {
            background: #590D56;
            border-radius: 90px;
            color: #fff;
        }
    }
}