.link {
    font-size: 18px;
    line-height: 21px;
    border-radius: 33.5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: end;
    min-width: 263px;
    padding: 20.71px 0px 25.29px 0px;
    &_white {
        color: #fff;
        border: 1px solid #fff;
    }
    &_purple {
        color: #47093e;
        border: 1px solid #47093e;
        &:hover {
            background: #590d56;
            border-radius: 90px;
            color: #fff;
        }
    }
}

@media (max-width: 320px) {
    .link {
        font-size: 14px;
        line-height: 16px;
        color: #5b0e58;
        border: 1px solid #5b0e58;
        min-width: 132px;
        padding: 10.51px 0 7.49px 0;
        &:hover {
            background: #590d56;
            border-radius: 90px;
            color: #fff;
        }
    }
}
