header {
    .header {
        &__wrap {
            display: flex;
            justify-content: space-between;
        }
        &__left {
            margin-top: 31px;
        }
        &__right {
            display: flex;
            .search {
                margin-top: 28px;
                margin-right: 58.46px;
            }
            .shops {
                margin-top: 28px;
                margin-right: 44.09px;
            }
            .burger__menu {
                margin-top: 32.17px;
            }
        }
    }
}