header {
    position: relative;
    z-index: 2;
    margin-top: 28px;
    .header {
        &__wrap {
            display: flex;
            justify-content: space-between;
        }
        &__left {
            margin-top: 3px;
        }
        &__right {
            display: flex;
            position: relative;
            flex: 0 1 260px;
            flex-direction: row-reverse;
            .search {
                // margin-right: 58.46px;
                flex-grow: 1;
            }
            .shops {
                // margin-right: 44.09px;
                flex-grow: 1;
            }
        }
        &__nav {
            position: absolute;
            top: 77px;
            right: -150px;
            z-index: 10;
            transition: ease-in-out .5s;
        }
        &__menu {
            margin-top: 4.17px;
            cursor: pointer;
        }
    }
}

.nav {
    width: 1440px;
    background-color: #fff;
    padding: 154px 0 142px 150px;
    &__wrap {
        position: relative;
    }
    &__close {
        position: absolute;
        top: -214px;
        right: 152px;
        cursor: pointer;
    }
    &__item {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 91px;
        }
    }
    &__text {
        font-family: Merriweather;
        font-size: 16px;
        line-height: 100%;
        color: #000000;
        cursor: pointer;
        z-index: 11;
        &:hover {
            color: #771373;
        }
    }
    &__line-1 {
        position: absolute;
        z-index: -1;
        left: -150px;
        bottom: -63px;
    }
    &__lines-2 {
        position: absolute;
        z-index: -1;
        left: -150px;
        top: 55px;
    }
    &__lines-3 {
        position: absolute;
        z-index: -1;
        left: -150px;
        bottom: -80px;
    }
}

#burger {
    display: none;
    &:checked {
        &~.header__nav {
            visibility: visible;
            opacity: 1;
            transition: .5s;
        }
        &~.header__menu,
        &~.search,
        &~.shops {
            visibility: hidden;
        }
    }
    &:not(:checked)~.header__nav {
        visibility: hidden;
        opacity: 0;
        transition: .5s;
    }
}

@media (max-width: 320px) {
    header {
        .header {
            &__left {
                margin-top: 16px;
            }
            &__right {
                .search {
                    margin-top: 18.65px;
                    margin-right: 9.45px;
                }
                .shops {
                    margin-top: 18.65px;
                    margin-right: 13.9px;
                }
            }
            &__nav {
                top: 75px;
            }
            &__menu {
                margin-top: 20.73px;
            }
        }
    }
    .nav {
        display: none;
        &__close {
            top: -203px;
        }
    }
    #burger {
        &:checked {
            &~.header__menu,
            &~.search,
            &~.shops {
                visibility: visible;
            }
        }
    }
}