.opinion {
    margin-top: 86px;
    &__wrap {
        display: flex;
    }
    &__content {
        flex: 0 1 240px;
        margin-right: 53px;
        z-index: 2;
        &>h4 {
            @include title;
            margin-bottom: 26px;
        }
        &>p {
            @include text;
        }
    }
    &__box {
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 8px;
        .play {
            position: absolute;
            top: 256px;
            right: 389px;
            z-index: 2;
        }
    }
    &__buttons {
        display: flex;
        gap: 16px;
        .btn-mini:hover {
            fill: #590D56;
        }
    }
}

@media (max-width: 320px) {
    .opinion {
        display: none;
    }
}