.process {
    padding-top: 300px;
    padding-bottom: 126px;
    &__wrap {
        display: flex;
        position: relative;
    }
    &__img {
        position: absolute;
        top: -350px;
        left: -150px;
    }
    &__content {
        flex: 0 1 264px;
        margin-right: 27px;
        z-index: 2;
        &>h3 {
            @include title;
        }
    }
    &__slider {
        display: flex;
        flex-direction: column;
        z-index: 2;
        .slider {
            position: relative;
            display: flex;
            gap: 30px;
            flex-grow: 1;
            margin-bottom: 35px;
            &>img {
                align-self: center;
            }
            .second {
                filter: drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.25));
            }
            .play {
                position: absolute;
                z-index: 2;
                top: 102px;
                right: 293px;
            }
            &__buttons {
                display: flex;
                flex-direction: column;
                align-self: center;
                gap: 28px;
                .arrow__right {
                    opacity: 0.5;
                }
            }
        }
    }
}